body {
  font-family: Arial, Helvetica, sans-serif
}

.input-fields {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  /* width: 30% */
}

/*
button {
  padding: 1.8em;
  margin: 20em;
  font-size: .8em;
  font-size: 1.2em;
  border-radius: 90%;
  margin: .5em 0em;
  cursor: pointer;
}
*/


button {
  padding: .5em;
  border-radius: 10%;
  flex: 0.2;
  cursor: pointer;
  width: 20%;
  font-size: .2em;
  font-size: 1.2em;
  margin-top: 2em;

}